/*    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";*/
/*-----[ALLWINDOW]-----*/
* {padding: 0;margin: 0;}

.main-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: #08080800;
}

.main-window .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
}

.main-moove {
    -webkit-app-region: drag;
    width: calc(100% - 100px);
    height: 25px;
}
.main-btn {
    width: 100px;
    height: 25px;
    display: flex;
}

.main-btn button {
    margin: auto;
    width: 35px;
    height: 25px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    transition: .5s ease-out;
}
.main-btn button:hover {background: #30303050;}
#closeBtn:hover {background: #ff000050;}
.main-btn button i {cursor: pointer;font-size: 10px;color: #ffffff;margin: auto;}
